mixin sprite(name, width, height, aria_hidden = 'true', focusable = 'false')
  svg(width=width, height=height, viewBox=`0 0 ${width} ${height}`, aria-hidden=aria_hidden, focusable=focusable)&attributes(attributes)
    use(xlink:href=`images/sprite/sprite.svg#${name}`)
